<h1>Samples#index</h1>
<p>Find me in app/views/samples/index.html.erb</p>
<ul>
  <% @samples.each do |sample| %>
    <li>
      title: <%= sample.title %>
    </li>
  <% end %>
</ul>
<p><%= @aaa %></p>
